<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<table th:fragment="itemsFactura" class="d-none">
		<tbody id="plantillaItemsFactura">
			<tr id="ROW_{ID}">
				<td class="d-none">
				 <input type="hidden" value="{ID}" name="item_id[]"/>
				</td>
				<td>
					{NOMBRE}
				</td>
				<td>
					<span id="precio_{ID}">{PRECIO}</span>
				</td>
				<td>
					<span>{DESCUENTO}</span>
				</td>
				
				<td>
					<a href="#" class="btn btn-danger btn-xs" onclick="itemsHelper.eliminarLineaFactura({ID})">X</a>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>