<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<head>
	<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container my-3">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Informe</h4>
			</div>		
			<div class="card-body">
		

			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer">
	</footer>
</body>
</html>